body{
  background-color: #fafafa;
}

h1{
  font-weight: 300;
  font-size: 1.8em;
  line-height: 1.3em;
}
/*HEADER OR HERO*/
.headline{
  padding: 5vw;
}

/*SHIFTING PANELS BELOW HEADER*/

.full-image-story{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 25px 20px !important;
  position: relative;
}

/*shade for story background image*/
.full-image-story:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(56, 43, 4, 0.3);
  z-index: 0;
}

.full-image-story p {
  position: relative;
  z-index: 1;
}


.article-headline {
  font-size: 1.4em;
  font-weight: 250;
  margin-bottom: 0;
}
.article-info {
  font-weight: 200;
}
#tablet-people{
  background-image: url("../img/tablet-people.jpg");
}
#quarterman .card-image{
  background-image: url("../img/quarterman.jpg");
}
#nestle .card-image{
  background-image: url("../img/nestle.jpg");
}
#audience .card-image{
  background-image: url("../img/audience.jpg");
}
#shopping-cart .card-image{
  background-image: url("../img/shopping-cart.jpg");
}
#holiday{
  background-image: url("../img/holiday.jpg");
}

.card-image {
  width: 20vw;
  min-width: 75px;
  float: left;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.card-image img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
p.case-study {
  padding-bottom: 2px;
}

/* medium screen size */
@media screen and (min-width: 600px){
  .image-card-story{
    height: 380px;
  }
  .card-image {
    float: none;
    width: 100%;
    height: 45%;
  }
}

/* large screen and up */
@media screen and (min-width: 1000px){
  .header-nav-wrapper{
    width: 100%;
    background-color: #fff;
  }
  .headline{
    margin: auto;
    max-width: 1400px;
    height: 380px;
    background-image: url("../img/big-hero.jpg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .image-card-story{
    height: 380px
  }
}
